<div class="container">

  <div id="immediate">
    <button mat-raised-button
            color="primary"
            (click)="immediateToggle()">Toggle Immediately</button>

    <ng-container *ngIf="immediateVisible">
      <div class="content">
        <h2>This content will be toggled immediately</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam illo qui totam.
          Iusto voluptatem reiciendis accusamus placeat atque sequi laudantium beatae! Adipisci
          exercitationem consectetur expedita harum labore blanditiis recusandae saepe!</p>
      </div>
    </ng-container>
  </div>

  <div id="delay">
    <button mat-raised-button
            color="primary"
            [disabled]="buttonDisabled"
            (click)="delayedToggle()">

      <ng-container *ngIf="buttonDisabled; else buttonEnabled">Toggling</ng-container>
      <ng-template #buttonEnabled>Toggle Delay</ng-template>

    </button>

    <ng-container *ngIf="delayVisible">
      <div class="content">
        <h2>This content will be toggled after a delay of 1000ms</h2>
      </div>
    </ng-container>
  </div>

  <div id="alternate">
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Alternating Content</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h2>The below content will toggle <span class="text-monospace">5</span> times every
            <span class="text-monospace">2000ms</span> (<span class="text-monospace">{{ counter
              }}</span> / <span class="text-monospace">5</span>)
          </h2>
          <ng-container *ngIf="alternateVisible">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam illo qui totam.
              Iusto voluptatem reiciendis accusamus placeat atque sequi laudantium beatae!
              Adipisci exercitationem consectetur expedita harum labore blanditiis recusandae
              saepe!</p>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
